* {
  box-sizing: border-box;
}

html,
body {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.body2 {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.container {
  display: flex;  
  align-items: center;
  align-content: flex-start;
  padding: 10px;
  height: 100%;  
  flex-wrap: wrap;
}

.logo {
  width: 25px;
  height: 25px;
  font-family: Roboto;
  font-size: 24px;
}

.logo-container {
  height: 60px;
  text-align: center;
}

.left-menu-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 90%;
  border-radius: 10px;
  padding-left: 10px;
}

.left-menu {
  display: flex;
  flex-direction: column;
  line-height: 3em;
  align-items: center;
}

.item {
  height: 100%;
  border-radius: 8px;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  padding-top: 20px;
}

.item1 {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.item2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 80px;
}

.period {
  display: flex;
  font-size: 11px;
  justify-content: start;
}

.period-item {
  border-radius: 16px;
  padding: 5px;
  width: 65px;
  text-align: center;
  font-size: 16px;  
}

header {
  text-align: left;
  font-size: 35px;
}

#sankeyChart{
  height:70%;
}

#sankey-chart {
  display:flex;
  flex-direction:column;
  height: auto;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
}

#linear-chart {
  border-radius: 8px;
  display: flex;
  flex-direction:column; 
  padding: 20px;  
  width:68%;
}

#allocation-chart{
  border-radius: 8px;
  display: flex;
  flex-direction:column; 
  padding: 20px;  
  width:28%;
}

canvas {
  width: 100% !important;
  height: auto !important;
}

.chart-header {
  display: flex;
  justify-content: space-between;  
}

.chart-info-perf {
  display: flex;
}

.chart-info-date {
  font-size: 15px;
  font-family: 'Segoe UI';
}

.chart-info-amount {
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chart-info-perf-perc, .chart-info-perf-raw {
  font-weight: bold;
  border-radius: 4px;
  padding:5px;
}

.chart-title {
  display: flex;  
  height: 30px;
  font-size: 18px;
  justify-content: space-evenly;
}

.chart-title-options {
  display: flex;
  width: 35%;
  justify-content: space-evenly;  
}

.chart-title-opt1 {
  border-radius: 16px;
  display: flex;  
  justify-content: space-evenly;
  align-items:center;
  padding-left: 8px;
  padding-right: 8px;  
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 130px;
  padding: 5px;
  border-radius: 4px;
}

.dropdown-content>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-content>ul>li {  
  cursor: pointer;
  text-align:left;
  padding-left:10px;
  border-radius:4px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#main-layout {
  border:1px;
}

.chevron-donw {
  display:flex;
  justify-content:space-evenly;
  align-items: center;
}