html,
body {
  color: black;
  background-color: white;
  /* background-image: linear-gradient(135deg, #4c4b2c 0%, black 5%, black 100%); */
}

.left-menu-item {
  color: #553E4C;
}

.left-menu-item:hover {
  color: rgb(20, 97, 127);
  background-color: #E8EBED;
}

.left-menu-item-selected{
  color: rgb(20, 97, 127);
  background-color: #E8EBED;
}

#chart-title, #sankey-chart, #linear-chart, #allocation-chart, #lineChart, #pieChart {
  background-color: rgb(236, 236, 236);  
}

.chart-info-date {
  color:rgb(146, 146, 146);
}

.chart-info-perf-raw {
  color:rgb(100, 203, 100);
}

.chart-info-perf-perc{
  color:rgb(7, 108, 7);
  background-color: darkgrey;  
}

.period-item:hover {
  background-color: rgb(174, 174, 174);
}

header {
  background-color: #666;
  color: white;
}

.chart-title-opt1 {
  border:solid #666 1px;
}

.dropdown {
  color: black;
}

.dropdown-content>ul>li:hover {
    background-color: #2c3e50;
    color:white;
}

.dropdown-content>ul>li {
  background-color: rgb(174, 174, 174);
  color: black;    
}

.dropdown-content {
  background-color: rgb(174, 174, 174);  
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);  
}